body {
    margin: 0;
    overflow: hidden;
}

#container {
    width: 100vw;
    height: 100vh;
}

/* Plan statku po lewej stronie */
#left-panel {
    opacity: 85%;
    position: absolute;
    top: 0;
    left: -40vw;
    width: 40vw;
    height: 13.3vw;
    background-color: #ffffff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.5s ease;
    z-index: 1000;
    border-radius:10px;
    margin-top: 2vw;
}
#div_open_left_panel_button {
    color:rgb(26, 26, 26);
    position: absolute;
    top: 0%;
    right: -5.1vw;
    width: 5vw;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
    font-size:0.9vw;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
#div_open_left_panel_button:hover{
    background-color: #dddddd;
}

#left-panel.open {
    left: 0;
}
#left-panel img{
    margin-bottom:1.2vw;
    width: 40vw;
    height: 10vw;
    object-fit:cover;
}

/* Menu po prawej stronie */
#right-panel {
    opacity: 90%;
    position: absolute;
    top: 0;
    right: -13vw;
    width: 13vw;
    height: 90%;
    background-color: #ffffff;
    color: white;
    transition: right 0.5s ease;
    z-index: 1000;
    border-radius: 10px;
    margin-top:2%;
    z-index: 100; 
}
#div_open_right_panel_button {
    color:rgb(26, 26, 26);
    position: absolute;
    top: 40%;
    left: -3.6vw;
    width: 3.5vw;
    height: 15%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
    font-size:0.9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
}
#right-panel.open {
    right: 0;
}
#right-panel-content{
    font-family: "Outfit", sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#right-panel #iopan-logo{
    margin-bottom:1.5vw;
    margin-left: 0.4vw;
    margin-top: 1vw;
    width: 85%;
    object-fit:cover;
}
.outfit-title {
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-size: 0.7vw;
    color: #29519b;
    text-transform: uppercase;
    margin-bottom: 1vw;
    font-weight: 600;
}