/* Plan statku po lewej stronie */
#left-panel {
  opacity: 85%;
  position: absolute;
  top: 10vw;
  left: -50vw;
  width: 50vw;
  height: 13.3vw;
  background-color: #ffffff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.5s ease;
  z-index: 1000;
  border-radius:0.5vw;
  margin-top: 2vw;
}
#div_open_left_panel_button {
  color:rgb(26, 26, 26);
  position: absolute;
  top: 20%;
  right: -4.6vw;
  width: 4.5vw;
  height: 65%;
  background-color: #ffffff;
  border-radius: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
  font-size:0.9vw;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
#div_open_left_panel_button:hover{
  background-color: #dddddd;
}

#left-panel.open {
  left: 0;
}


#shipImage{
  margin-bottom:1.2vw;
  width: 40vw;
  height: 10vw;
  object-fit:cover;
}



  #left-panel-level-buttons-div {
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
#left-panel-level-buttons-div button {
  width: 9vw;
  padding: 0.6vw;
  cursor: pointer;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  margin-right: 0.6vw;
  color:rgb(26, 26, 26);
  background-color: none;
  border-radius: 0.3vw;
  border-width: 0.2vw;
  border-style:groove;
  font-family: "Outfit", sans-serif;
  font-size:0.9vw;
  transition: background-color 0.3s ease;
  font-weight: bold;
}
#left-panel-level-buttons-div button:hover {
  background-color: #dddddd;
}



/* Menu po prawej stronie */
#right-panel {
  opacity: 90%;
  position: absolute;
  top: 3%;
  right: -15vw;
  width: 15vw;
  height: 90%;
  background-color: #ffffff;
  color: white;
  transition: right 0.5s ease;
  z-index: 1000;
  border-radius: 0.5vw;
  margin-top:2%;
  z-index: 100; 
}
#div_open_right_panel_button {
  color:rgb(26, 26, 26);
  position: absolute;
  top: 40%;
  left: -4.6vw;
  width: 4.5vw;
  height: 20%;
  background-color: #ffffff;
  border-radius: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
  font-size:0.9vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: bold;
}
#right-panel.open {
  right: 0;
}
#right-panel-content{
  /* border: 2px solid black; */
  font-family: "Outfit", sans-serif;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height:88%;
  margin-bottom:0.5vw;
}
#right-panel #iopan-logo{
  margin-bottom:1.5vw;
  margin-left: 0.4vw;
  margin-top: 1vw;
  width: 85%;
  object-fit:cover;
}
.outfit-title {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 0.7vw;
  color: #29519b;
  text-transform: uppercase;
  margin-bottom: 1vw;
  font-weight: 600;
}
#controlButtons {
  font-size: 1.3vw; 
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-bottom:0.5vw;
}
#belowControlButtonsText{
  font-size: 0.9vw;
  color:black;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:0.5vw;
}

/* Lista w menu po prawej stronie */
.hidden {
  display: none;
}
.expandable-list {
  list-style-type: none;
  padding-left: 0;
}
.expandable-list ul{
  margin-top:0.5vw;
  padding: 0vw;
}
.list-item {
  margin-bottom: 1vw;
}
.list-title {
  cursor: pointer;
  color: black;
  font-size: 1.1vw;
}
.list-title:hover {
  color: #29519b;
}
ul {
  padding-left: 1.5vw;
}
.list-item li{
  color:black;
}
#locationsList{
  margin-left:1vw;
  width:13vw;
  overflow: auto;
  height:30vw;
  scrollbar-width: none;
}
.locationsList::-webkit-scrollbar {
  display: none;
}
.image-item {
  cursor:pointer;
  border: 2px solid black; /* Czarna obramówka */
  width: 12vw;
  height: 6vw;
  margin-bottom: 1.8vw;
  position: relative;
}
.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.image-container div{
  font-size: 1.0vw;
  margin-top: 0.1vw;
}
.image-container img{
  height: 100%;
  width:100%;
}





* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #000;
  color: #fff;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

#pano {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#titleBar {
  position: absolute;

  width:100%;
 
  height: fit-content;
  text-align: center;
}






#titleBar .sceneName {
  width: 100%;
  height: 100%;
 
  font-size: max(3vw, 20px);
  padding:max(0.5vw, 5px);

  background-color: rgb(58,68,84);
  background-color: rgba(58,68,84,0.8);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}


#sceneListToggle {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
}

.mobile #sceneListToggle {
  visibility: hidden;
  width: 50px;
  height: 50px;
}

#sceneListToggle .text {
  position: absolute;
  top: 5px;
  left: 15px;
  width: 100%;
  line-height: 30px;
}

#sceneListToggle .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.mobile #sceneListToggle .icon {
  top: 10px;
  right: 10px;
}

#sceneListToggle .icon.on {
  display: none;
}

#sceneListToggle .icon.off {
  display: block;
}

#sceneListToggle.enabled .icon.on {
  display: block;
}

#sceneListToggle.enabled .icon.off {
  display: none;
}

#sceneList {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -220px;
  padding-top: 40px;
  width: 220px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 0;
  -webkit-transition: margin-left 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
}

.mobile #sceneList {
  visibility: hidden;
  padding-top: 50px;
}

#sceneList .scenes {
  width: 100%;
  background-color: rgb(58,68,84);
  background-color: rgba(58,68,84,0.8);
}

.mobile #sceneList {
  width: 100%;
  height: 100%;
  left: -100%;
}

.mobile #sceneList.enabled {
  margin-left: 100%;
}

.mobile #sceneList .scenes {
  height: 100%;
}

#sceneList.enabled {
  margin-left: 220px;
}

#sceneList .scene {
  display: block;
  width: 100%;
  height: 30px;
}

.mobile #sceneList .scene {
  height: 40px;
}

#sceneList .scene .text {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mobile #sceneList .scene .text {
  line-height: 40px;
}

.no-touch #sceneList .scene:hover {
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
}

#sceneList .scene.current {
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
}

/* Hide scene list when only a single scene exists */
body.single-scene #sceneList, body.single-scene #sceneListToggle {
  display: none;
}

/* Link hotspot */

.link-hotspot {
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.no-touch .link-hotspot:hover {
  opacity: 1;
}

.mobile .link-hotspot {
  width: 70px;
  height: 70px;
}

.link-hotspot-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.link-hotspot-tooltip {
  position: absolute;
  left: 100%;
  top: 14px; /* ( 60 - (16 + 2*8) ) / 2 */

  margin-left: 3px;

  font-size: 16px;

  max-width: 300px;

  padding: 8px 10px;

  border-radius: 5px;

  background-color: rgb(58,68,84);
  background-color: rgba(58,68,84,0.8);

  color: #fff;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  cursor: pointer;

  opacity: 0;

  -ms-transform: translateX(-8px);
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);

  -webkit-transition: -ms-transform 0.3s,
                      -webkit-transform 0.3s,
                      transform 0.3s,
                      opacity 0.3s;
  transition: -ms-transform 0.3s,
              -webkit-transform 0.3s,
              transform 0.3s,
              opacity 0.3s;
}

.mobile .link-hotspot {
  top: 19px; /* ( 70 - (16 + 2*8) ) / 2 */
}

.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  opacity: 1;
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* Prevent tooltip from triggering */
.link-hotspot-tooltip {
  pointer-events: none;
}
.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  pointer-events: all;
}

/* Fallback mode without pointer-events (IE8-10) */
.tooltip-fallback .link-hotspot-tooltip {
  display: none;
}
.no-touch .tooltip-fallback .link-hotspot:hover .link-hotspot-tooltip {
  display: block;
}

/* Info hotspot */

.info-hotspot {
  line-height: 1.2em;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s 0.2s;
  transition: opacity 0.2s 0.2s;
}

.no-touch .info-hotspot:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.info-hotspot.visible {
  opacity: 1;
}

.info-hotspot .info-hotspot-header {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(103,115,131);
  cursor: pointer;
  -webkit-transition: width 0.3s ease-in-out 0.5s,
                      border-radius 0.3s ease-in-out 0.5s;
  transition: width 0.3s ease-in-out 0.5s,
              border-radius 0.3s ease-in-out 0.5s;
}

.mobile .info-hotspot .info-hotspot-header {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.desktop.no-touch .info-hotspot .info-hotspot-header:hover {
  width: 260px;
  border-radius: 5px;
  -webkit-transition: width 0.3s ease-in-out,
                      border-radius 0.3s ease-in-out;
  transition: width 0.3s ease-in-out,
              border-radius 0.3s ease-in-out;
}

.desktop .info-hotspot.visible .info-hotspot-header,
.desktop.no-touch .info-hotspot.visible .info-hotspot-header:hover {
  width: 260px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-transition: width 0.3s ease-in-out,
                      border-radius 0.3s ease-in-out;
  transition: width 0.3s ease-in-out,
              border-radius 0.3s ease-in-out;
}

.info-hotspot .info-hotspot-icon-wrapper {
  width: 40px;
  height: 40px;
}

.mobile .info-hotspot .info-hotspot-icon-wrapper {
  width: 50px;
  height: 50px;
}

.info-hotspot .info-hotspot-icon {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.info-hotspot .info-hotspot-title-wrapper {
  position: absolute;
  left: 40px;
  top: 0;
  width: 0;
  height: 40px;
  padding: 0;
  overflow: hidden;
  -webkit-transition: width 0s 0.4s,
                      padding 0s 0.4s;
  transition: width 0s 0.4s,
              padding 0s 0.4s;
}

.desktop .info-hotspot.visible .info-hotspot-title-wrapper,
.desktop.no-touch .info-hotspot .info-hotspot-header:hover .info-hotspot-title-wrapper {
  width: 220px;
  padding: 0 5px;
  -webkit-transition: width 0s 0.4s,
                      padding 0s 0.4s;
  transition: width 0s 0.4s,
              padding 0s 0.4s;
}

.info-hotspot .info-hotspot-title-wrapper:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.info-hotspot .info-hotspot-title {
  display: inline-block;
  vertical-align: middle;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot .info-hotspot-close-wrapper {
  position: absolute;
  left: 260px;
  top: 0;
  height: 40px;
  width: 40px;
  border-top-right-radius: 5px;
  background-color: rgb(78,88,104);
  visibility: hidden;
  -ms-transform: perspective(200px) rotateY(90deg);
  -webkit-transform: perspective(200px) rotateY(90deg);
  transform: perspective(200px) rotateY(90deg);
  -ms-transform-origin: 0 50% 0;
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
  -webkit-transition: -ms-transform 0.3s 0.3s,
                      -webkit-transform 0.3s 0.3s,
                      transform 0.3s 0.3s,
                      visibility 0s 0.6s;
  transition: -ms-transform 0.3s 0.3s,
              -webkit-transform 0.3s 0.3s,
              transform 0.3s 0.3s,
              visibility 0s 0.6s;
}

.desktop .info-hotspot.visible .info-hotspot-close-wrapper {
  visibility: visible;
  -ms-transform: perspective(200px) rotateY(0deg);
  -webkit-transform: perspective(200px) rotateY(0deg);
  transform: perspective(200px) rotateY(0deg);
  -webkit-transition: -ms-transform 0.3s,
                      -webkit-transform 0.3s,
                      transform 0.3s,
                      visibility 0s 0s;
  transition: -ms-transform 0.3s,
              -webkit-transform 0.3s,
              transform 0.3s,
              visibility 0s 0s;
}

.info-hotspot .info-hotspot-close-icon {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.info-hotspot .info-hotspot-text {
  position: absolute;
  width: 300px;
  height: auto;
  max-height: 200px;
  top: 40px;
  left: 0;
  padding: 10px;
  background-color: rgb(58,68,84);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow-y: auto;
  visibility: hidden;
  /* rotate(90deg) causes transition flicker on Firefox 58 */
  -ms-transform: perspective(200px) rotateX(-89.999deg);
  -webkit-transform: perspective(200px) rotateX(-89.999deg);
  transform: perspective(200px) rotateX(-89.999deg);
  -ms-transform-origin: 50% 0 0;
  -webkit-transform-origin: 50% 0 0;
  transform-origin: 50% 0 0;
  -webkit-transition: -ms-transform 0.3s,
                      -webkit-transform 0.3s,
                      transform 0.3s,
                      visibility 0s 0.3s;
  transition: -ms-transform 0.3s,
              -webkit-transform 0.3s,
              transform 0.3s,
              visibility 0s 0.3s;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.desktop .info-hotspot.visible .info-hotspot-text {
  visibility: visible;
  -ms-transform: perspective(200px) rotateX(0deg);
  -webkit-transform: perspective(200px) rotateX(0deg);
  transform: perspective(200px) rotateX(0deg);
  -webkit-transition: -ms-transform 0.3s 0.3s,
                      -webkit-transform 0.3s 0.3s,
                      transform 0.3s 0.3s,
                      visibility 0s 0s;
  transition: -ms-transform 0.3s 0.3s,
              -webkit-transform 0.3s 0.3s,
              transform 0.3s 0.3s,
              visibility 0s 0s;
}

/* Info hotspot modal */

.desktop .info-hotspot-modal {
  display: none;
}

.info-hotspot-modal {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 11000 !important;
  background-color: rgba(0,0,0,.5);
  line-height: 1.2em;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in-out 0.5s,
                      visibility 0s 0.7s;
  transition: opacity 0.2s ease-in-out 0.5s,
              visibility 0s 0.7s;
}

.info-hotspot-modal.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s ease-in-out,
                      visibility 0s 0s;
  transition: opacity 0.2s ease-in-out,
              visibility 0s 0s;
}

.info-hotspot-modal .info-hotspot-header {
  position: absolute;
  top: 60px;
  left: 10px;
  right: 10px;
  width: auto;
  height: 50px;
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.info-hotspot-modal.visible .info-hotspot-header {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.info-hotspot-modal .info-hotspot-icon-wrapper {
  width: 50px;
  height: 50px;
}

.info-hotspot-modal .info-hotspot-icon {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.info-hotspot-modal .info-hotspot-title-wrapper {
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  width: auto;
  height: 50px;
  padding: 0 10px;
}

.info-hotspot-modal .info-hotspot-title-wrapper:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.info-hotspot-modal .info-hotspot-title {
  display: inline-block;
  vertical-align: middle;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot-modal .info-hotspot-close-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: rgb(78,88,104);
  background-color: rgba(78,88,104,0.8);
  cursor: pointer;
}

.info-hotspot-modal .info-hotspot-close-icon {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.info-hotspot-modal .info-hotspot-text {
  position: absolute;
  top: 110px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 10px;
  background-color: rgb(58,68,84);
  background-color: rgba(58,68,84,0.8);
  overflow-y: auto;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot-modal.visible .info-hotspot-text {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.4s;
  transition: opacity 0.3s ease-in-out 0.4s;
}

/* View control buttons */

.viewControlButton {
  display: flex;
  bottom: 0;
  left: 50%;
  width: min(6vw, 40px);
  height:  min(6vw, 40px);
  margin:1vw;
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);

}

body.view-control-buttons .viewControlButton {
  display: block;
}

/* Hide controls when width is too small */
@media (max-width: 600px) {
  body.view-control-buttons .viewControlButton {
    /*display: none; */
  }
}

.viewControlButton .icon {
  width: 100%;
  height: 100%;
  padding:10%;
  overflow: visible;

}



/* stuff below is for stuff added in this project*/


/* for the view controls at the bottom */
.viewControlsHolder
{
  display:flex;
  position:absolute;

  width:100vw;
  height:5vw;
  bottom:4%;

  justify-content: center;
  overflow: visible;

}

/* menus topright */
.upperRightControlsHolder
{
  display: flex;
  position:absolute;
  right:0;
  top:0;
  width:fit-content;
  height:100%;
  gap: 0.5vw;

}

.upperRightButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
}


.upperRightButton .icon {
  width:auto;
  height:100%;
}


.upperRightButton .icon.on {
  display: none;
}

.upperRightButton .icon.off {
  display: block;
}

.upperRightButton.enabled .icon.on {
  display: block;
}

.upperRightButton.enabled .icon.off {
  display: none;
}



/* expandable lists on the right */

.scenesList
{
  display:block;
  overflow: hidden;
  max-height: 0;
  transition:0.5s;
}

.scenesList.listShown 
{
  max-height: 0px;
}


.pin 
{
  border-radius: 100%;
  width:1vw;
  height:1vw;
  background-color: red;
  position:absolute;
  display:block;
  cursor: pointer;
  border: 4px solid rgb(224, 187, 18); 
  opacity: 90%;
}

.pin:hover{
  opacity: 100%;
}

.pin .tooltip
{
  position:absolute;
  background-color: #6e6e6e;
  width:max-content;
  top:-2vw;
  visibility: hidden;
}



.pinAndShipContainer
{
  position: relative;
  width: 40vw;
  height: 10vw;
}

.pinsContainer
{
  position: absolute;
  width:40vw;
  height:10vw;
  top:0;

}



